body {

    font-family: Arial, Arial, Helvetica, sans-serif;
}

head {}

main {
    max-width: 840px;
}

nav a {
    color: white;
    background-color: #44052d;
    padding: 10px;
    display: block;
}

h1 {
    color: rgb(91, 19, 79)
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(91, 19, 79);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20cm;
    margin: 1cm;
    border: 1px solid rgba(106, 199, 225, 0.2);
    /* 1 */
    padding: 1cm;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1cm;
    border-top: 1px solid #000;
    text-align: center;
}